<div class="col-lg-12">
    <div class="btn-group-lg">
        <h3 align="center"><strong>Send Posting Notice?</strong></h3>
        <p style="font-weight: bold"><div id="postingNoticeConfirmNote">By selecting <strong>"Yes"</strong> you agree to initiate a full payload "print-n-ship" service to our 3rd-party printing affiliate. <br />
            If you submit without selecting 1 or more locations from the main insured, only the additional insured and its applicable locations will send.</div></p>
    </div>
</div>




