@Styles.Render("~/Content/Errors/css")

<div class="col-lg-12">
    <div class="error-page">
        <h2 class="headline text-yellow"> 401</h2>
        <div class="error-content">
            <h3><i class="fa fa-clock-o text-yellow"></i> Session Expired</h3>
            <p>
                Your session has expired due to inactivity.
                You will need to log back into the application.
            </p>
        </div><!-- /.error-content -->
    </div>
</div>