<div>
    <div id="ConfigSelectionContainer">
        @Html.Action("ConfigSelection", "Home")
    </div>

    <div id="ConfigFormContainer">
        @Html.Action("GridConfigForm", "Home")
    </div>
</div>